html, body {
    height: 100%;
}

.full-container {
    height: 100%;
    padding-bottom: 330px;
    background: hsla(167, 53%, 53%, 1);
    background: linear-gradient(180deg, hsla(167, 53%, 53%, 1) 15%, hsla(231, 44%, 40%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(167, 53%, 53%, 1) 15%, hsla(231, 44%, 40%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(167, 53%, 53%, 1) 15%, hsla(231, 44%, 40%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#49C7AB", endColorstr="#3A4894", GradientType=1 );
}

.login-card {
    width: 30rem;
    border: 1px solid #292929;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    box-sizing: border-box;
    background-color: #292929;
    -webkit-box-shadow: 0px 0px 15px 3px #000000; 
    box-shadow: 0px 0px 15px 3px #000000;
}

.logo-image {
    display: block;
	margin: auto;
    max-width: 75%;
}

.link {
    color: #f7f7ff;
    text-decoration: none;
}

.link:hover {
    color: #49c7ab;
}

.topnav {
	overflow: hidden;
}
