.user-background {
    background: url("cool-background.png") no-repeat center center fixed;
	min-height: 320px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 180px;
}

.profile-container {
	margin-top: -80px;
	padding-top: -80px;
	margin-bottom: 30px;
    padding-bottom: 30px;
}

.profile-title {
	background-color:#363636;
	padding: 1px;
	border-radius: 10px;

}

.profile-card-left {

    border: 1px solid #292929;
    border-radius: 10px;
    margin: 20px;
    box-sizing: border-box;
    background-color: #292929;
    -webkit-box-shadow: 0px 0px 15px 3px #000000;
    box-shadow: 0px 0px 15px 3px #000000;
}

.profile-card-right {

    border: 1px solid #292929;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    box-sizing: border-box;
    background-color: #292929;
    -webkit-box-shadow: 0px 0px 15px 3px #000000;
    box-shadow: 0px 0px 15px 3px #000000;
}

.profile-image {
	margin-top: -140px;
	text-align: center;
}

.profile-avatar {
	vertical-align: middle;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}