
body {
	font-family: "Roboto";
	background: linear-gradient(
		rgba(0, 0, 0, 0.4), 
		rgba(0, 0, 0, 0.4)
	), url("background.jpg") no-repeat center center fixed;
	
	background-size: cover;
	height: 100%;
	overflow: hidden;
	transition:all 0.3s ease;
}

header {
	margin-top: 7%;
}

.mt-3 {
	margin-top: 3rem;
}

.text-center {
	text-align: center;
}

.header-image {
	display: block;
	margin: auto;
	padding-top: 3rem;
}

.topnav {
	overflow: hidden;
}

.align-right {
	float: right;
}

.topnav a {
	float: left;
	color: #f7f7ff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 15px;
}

.topnav a:hover {
	background-color: #49c7ab;
	color: white;
}

.footer {
	position: fixed;
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-bottom: 1rem;
}

.footer-text {
	font-size: 12px;
}

.p-px-3 {
	padding: 0rem 0.3rem;
}